In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('fourCollections.csv', dtype={'collection_slug': 'str', 'asset_id': 'int', 'asset_name': 'str', 'owner_username': 'str', 'owner_address': 'str', 'event_type': 'str'})
df.drop('Unnamed: 0.1', axis=1, inplace=True)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('collection_slug', axis=1,inplace=True)
df.drop('asset_contract_date', axis=1, inplace=True)
df.drop('asset_name', axis=1, inplace=True)
df.drop('asset_id', axis=1, inplace=True)
df.drop('owner_username', axis=1, inplace=True)
df.drop('owner_address', axis=1, inplace=True)
df['event_timestamp'] = pd.to_datetime(df['event_timestamp']).dt.strftime('%m/%Y')
df.drop_duplicates(keep='first')
df

        collection_name event_timestamp     event_type  count
0                 Azuki         06/2022        created      1
1                 Azuki         06/2022        created      1
2                 Azuki         06/2022        created      1
3                 Azuki         06/2022        created      1
4                 Azuki         06/2022        created      1
...                 ...             ...            ...    ...
1465480    Crypto Coven         06/2022  offer_entered      1
1465481    Crypto Coven         06/2022  offer_entered      1
1465482    Crypto Coven         06/2022  offer_entered      1
1465483    Crypto Coven         06/2022  offer_entered      1
1465484    Crypto Coven         06/2022  offer_entered      1

[1465485 rows x 4 columns]

In [8]:
df_t = pd.DataFrame()
for i in df.event_timestamp.unique():
    print(df[df['collection_name'] == 'Azuki'].value_counts())

collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026
                                  cancelled      1         6176
                 05/2022          bid_entered    1         6069
                 03/2022          transfer       1         5667
                 04/2022          transfer       1         5520
                 05/2022          cancelled      1         5324
                 03/2022          cancelled      1         4147
                 05/2022          successful     1         3834
                 02/2022          successful     1         3150
                 04/2022          cancelled      1         3074
                 06/2022          created        1         2926
                 04/2022          bid_withdrawn  1         2864
                 03/2022          successful     1         2155
                 06/2022          transfer       1         1687
                                  bid_withdrawn  1         1653
                                  bid_entered    1         1216
                 04/2022          successful     1         1199
                 01/2022          bid_withdrawn  1          894
                 02/2022          bid_withdrawn  1          829
                 03/2022          bid_withdrawn  1          729
                 06/2022          cancelled      1          436
                                  successful     1          333
dtype: int64
collection_name  event_timestamp  event_type     count
Azuki            01/2022          created        1        56936
                                  transfer       1        30725
                 02/2022          created        1        29203
                 05/2022          created        1        22591
                 03/2022          created        1        19069
                 05/2022          bid_withdrawn  1        16750
                 01/2022          successful     1        15422
                 02/2022          bid_entered    1        14979
                 04/2022          created        1        12073
                 01/2022          cancelled      1        10961
                 05/2022          transfer       1        10717
                 01/2022          bid_entered    1         9889
                 04/2022          bid_entered    1         9839
                 03/2022          bid_entered    1         8788
                 02/2022          transfer       1         7026

In [7]:
df

        collection_name event_timestamp     event_type  count
0                 Azuki         06/2022        created      1
1                 Azuki         06/2022        created      1
2                 Azuki         06/2022        created      1
3                 Azuki         06/2022        created      1
4                 Azuki         06/2022        created      1
...                 ...             ...            ...    ...
1465480    Crypto Coven         06/2022  offer_entered      1
1465481    Crypto Coven         06/2022  offer_entered      1
1465482    Crypto Coven         06/2022  offer_entered      1
1465483    Crypto Coven         06/2022  offer_entered      1
1465484    Crypto Coven         06/2022  offer_entered      1

[1465485 rows x 4 columns]