In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('fourCollections.csv', dtype={'collection_slug': 'str', 'asset_id': 'int', 'asset_name': 'str', 'owner_username': 'str', 'owner_address': 'str', 'event_type': 'str'})
df.drop('Unnamed: 0.1', axis=1, inplace=True)
df.drop('Unnamed: 0', axis=1, inplace=True)
df.drop('collection_slug', axis=1,inplace=True)
df.drop('asset_contract_date', axis=1, inplace=True)
df.drop('asset_name', axis=1, inplace=True)
df.drop('asset_id', axis=1, inplace=True)
df.drop('owner_username', axis=1, inplace=True)
df.drop('owner_address', axis=1, inplace=True)
df['event_timestamp'] = pd.to_datetime(df['event_timestamp']).dt.strftime('%m/%d/%Y')
df.drop_duplicates(keep='first')
df

        collection_name event_timestamp     event_type
0                 Azuki      06/17/2022        created
1                 Azuki      06/17/2022        created
2                 Azuki      06/17/2022        created
3                 Azuki      06/17/2022        created
4                 Azuki      06/17/2022        created
...                 ...             ...            ...
1465480    Crypto Coven      06/10/2022  offer_entered
1465481    Crypto Coven      06/10/2022  offer_entered
1465482    Crypto Coven      06/10/2022  offer_entered
1465483    Crypto Coven      06/10/2022  offer_entered
1465484    Crypto Coven      06/10/2022  offer_entered

[1465485 rows x 3 columns]

In [3]:
g = df.groupby(['collection_name', 'event_timestamp']).agg({'event_timestamp': ['count']})

In [4]:
g.drop('Bored Ape Chemistry Club', inplace=True)
g.drop('Bored Ape Kennel Club', inplace=True)
g.drop('DourDarcels', inplace=True)
g.drop('NFTfi Promissory Note', inplace=True)
g.drop('Rug Radio Membership Pass', inplace=True)